<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Text</key>
	<array>
		<string>The quizzes in this application follow rules based on the High School variant of the National Department of Energy&apos;s National Science Bowl®.

Each quiz contains questions on astronomy, biology, chemistry, earth science, general science, mathematics, and physics.</string>
		<string>Use the Play menu to access saved quizzes and enter into a new game. 

Use the Download menu to download new quizzes. 

Use the Score menu to view previous scores. 

Use the Review menu to access previous quizzes. </string>
		<string>Quiz Selection</string>
	</array>
	<key>Image</key>
	<array>
		<string></string>
		<string></string>
		<string>cellExplanation.png</string>
	</array>
</dict>
</plist>
